<div class="content-wrapper">
  <section class="content-header">
    <h1>Data Siswa</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <a [routerLink]="['/student-add-form']" class="btn btn-default">
              <i class="fa fa-plus"></i> Tambah Data
            </a>
            <a (click)="onEditButtonClick($event)" class="btn btn-default">
              <i class="fa fa-edit"></i> Ubah Data
            </a>
            <a (click)="onRemoveButtonClick($event)" class="btn btn-default">
              <i class="fa fa-remove"></i> Hapus Data
            </a>
          </div>
          <div class="box-body">
            <ngx-datatable
              class="material fullscreen"
              [rows]="rows | async"
              [selected]="selected"
              [selectionType]="'checkbox'"
              [footerHeight]="30"
              [limit]="10"
              (select)="onSelect($event)">
              <ngx-datatable-column
                [width]="15"
                [sortable]="false"
                [canAutoResize]="false"
                [draggable]="false"
                [resizeable]="false"
                [checkboxable]="true">
              </ngx-datatable-column>
              <ngx-datatable-column name="Nama Siswa" prop="fullname"></ngx-datatable-column>
              <ngx-datatable-column name="Sekolah" prop="school_name"></ngx-datatable-column>
              <ngx-datatable-column name="NISN" prop="nisn"></ngx-datatable-column>
              <ngx-datatable-column name="Kelas" prop="classroom"></ngx-datatable-column>
              <ngx-datatable-column name="Cabang Olahraga" prop="sport_type_name"></ngx-datatable-column>
              <ngx-datatable-column name="Klub Olahraga" prop="sport_club"></ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
