<div class="content-wrapper">
  <section class="content-header">
    <h1>Laporan Data Siswa</h1>
  </section>
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header">
            <label>Kategori Sekolah:</label>
            <ng-select
              [(ngModel)]="selectedSchool"
              [options]="schoolOptions | async"
              [allowClear]="true"
              placeholder="Pilihan sekolah">
            </ng-select>
            <label>Kategori Cabang Olahraga:</label>
            <ng-select
              [(ngModel)]="selectedSportType"
              [options]="sportTypeOptions | async"
              [allowClear]="true"
              placeholder="Pilihan cabang olahraga">
            </ng-select>
            <hr />
            <a (click)="onSearch($event)" class="btn btn-info">
              <i class="fa fa-search"></i> Lakukan Pencarian
            </a>
            <a (click)="onSaveAsExcel($event)" class="btn btn-primary">
              <i class="fa fa-disk"></i> Simpan sebagai CSV
            </a>
          </div>
          <div class="box-body">
            <ngx-datatable
              class="material fullscreen"
              [rows]="rows | async"
              [columns]="columns"
              [footerHeight]="30"
              [limit]="10">
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
