<form class="form-horizontal" (ngSubmit)="onSubmit(achievementForm.value)" [formGroup]="achievementForm">
  <div class="box-body">
    <div class="form-group">
      <label class="control-label col-sm-2" for="fullname">Nama Siswa</label>
      <div class="col-sm-10">
        <ng-select formControlName="student_id" [options]="studentOptions | async" placeholder="Pilihan nama siswa"></ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sport_type">Cabang Olahraga</label>
      <div class="col-sm-10">
        <ng-select formControlName="sport_type_id" [options]="sportTypeOptions | async" placeholder="Pilihan cabang olahraga"></ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sport_sub_type">Sub Cabang Olahraga</label>
      <div class="col-sm-10">
        <input type="text" formControlName="sport_sub_type" class="form-control" placeholder="Sub cabang olahraga" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="competition">Kejuaraan</label>
      <div class="col-sm-10">
        <input type="text" formControlName="competition" class="form-control" placeholder="Kejuaraan" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="competition_level">Tingkat</label>
      <div class="col-sm-10">
        <input type="text" formControlName="competition_level" class="form-control" placeholder="Tingkat" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="achievement">Prestasi</label>
      <div class="col-sm-10">
        <input type="text" formControlName="achievement" class="form-control" placeholder="Prestasi" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="attachment">Lampiran</label>
      <div class="col-sm-10">
        <div ng2FileDrop
          [ngClass]="{ 'drop-zone-file-over': hasBaseDropZoneOver }"
          (fileOver)="onFileOver($event)"
          (onFileDrop)="onFileDrop($event)"
          [uploader]="uploader"
          class="drop-zone-uploader form-control">
          <div *ngIf="uploader.queue.length > 0; else elseBlock">
            <span>
              {{ uploader.queue[0]?.file?.name }} ({{ uploader.queue[0]?.file?.size/1024/1024 | number:'.2' }} MB)
            </span>
            <a (click)="removeUploadFile()">
              <i class="fa fa-remove"></i>
            </a>
          </div>
          <ng-template #elseBlock>
            <p>Tarik dan letakan lampiran bukti prestasi di dalam kolom ini.</p>
            <p><i>(Dapat berupa foto piagam ataupun hasil scan sertifikat.)</i></p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <button type="submit" class="btn btn-default btn-flat">Batal</button>
    <button type="submit" class="btn btn-primary btn-flat pull-right">Simpan</button>
  </div>
</form>
