<!-- Sidebar toggle button-->
<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>

<div class="navbar-custom-menu">
  <ul class="nav navbar-nav">
    <!-- <li header-navbar-message class="dropdown messages-menu"></li>
    <li header-navbar-notification class="dropdown notifications-menu"></li>
    <li header-navbar-task class="dropdown tasks-menu"></li> -->
    <li header-navbar-user class="dropdown user-menu"></li>
  </ul>
</div>
