<li class="header">Navigasi Utama</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-book"></i> <span>Data dan Formulir</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li>
      <a [routerLink]="['/student-list']" [routerLinkActive]="['active']">
        <i class="fa fa-circle-o"></i> Data Siswa
      </a>
    </li>
    <li><a [routerLink]="['/achievement-list']" [routerLinkActive]="['active']"><i class="fa fa-circle-o"></i> Data Prestasi</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-list-alt"></i> <span>Laporan</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a [routerLink]="['/report-student']" [routerLinkActive]="['active']"><i class="fa fa-circle-o"></i> Laporan Data Siswa</a></li>
    <li><a [routerLink]="['/report-achievement']" [routerLinkActive]="['active']"><i class="fa fa-circle-o"></i> Laporan Prestasi</a></li>
  </ul>
</li>
<li class="treeview">
  <a href="#">
    <i class="fa fa-folder-open"></i> <span>Data Master</span>
    <span class="pull-right-container">
      <i class="fa fa-angle-left pull-right"></i>
    </span>
  </a>
  <ul class="treeview-menu">
    <li><a [routerLink]="['/sport-type-list']" [routerLinkActive]="['active']"><i class="fa fa-circle-o"></i> Cabang Olah Raga</a></li>
    <li><a [routerLink]="['/school-list']" [routerLinkActive]="['active']"><i class="fa fa-circle-o"></i> Daftar Sekolah</a></li>
  </ul>
</li>
