<div class="login-box">
  <div class="login-logo">
    <img src="assets/depok-fit-64x83.png" class="img-responsive center-block" alt="Logo Depok">
    <h4>UPT. Pendidikan TK/SD Kec. Sukmajaya</h4>
    <h5>Sistem Aplikasi Bakat Minat dan Prestasi Olahraga</h5>
    <a [routerLink]="['/login']"><b>SIAP</b> BAKMINPOR</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Silahkan masukan informasi login Anda</p>

    <form (ngSubmit)="onSubmit(loginForm.value)" [formGroup]="loginForm">
      <div class="form-group has-feedback">
        <input type="username" formControlName="username" class="form-control" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" formControlName="password" class="form-control" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Log In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
  <!-- /.login-box-body -->
</div>
