<div class="pull-left image">
  <img src="assets/user-light.png" class="img-circle" alt="User Image">
</div>
<div class="pull-left info">
  <p>Administrator</p>
  <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
</div>
