<form class="form-horizontal" (ngSubmit)="onSubmit(schoolForm.value)" [formGroup]="schoolForm">
  <div class="box-body">
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Nama Sekolah</label>
      <div class="col-sm-10">
        <input type="text" formControlName="name" class="form-control" placeholder="Nama sekolah" />
      </div>
    </div>
  </div>
  <div class="box-footer">
    <a [routerLink]="['/school-list']" class="btn btn-default btn-flat">Batal</a>
    <button type="submit" class="btn btn-primary btn-flat pull-right">Simpan</button>
  </div>
</form>
