<header class="main-header">
  <a href="../../index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>S</b>B</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>SIAP</b> BAKMINPOR</span>
  </a>

  <nav header-navbar class="navbar navbar-static-top"></nav>
</header>
