<div class="wrapper">
  <router-outlet name="header"></router-outlet>
  <router-outlet name="sidebar"></router-outlet>
  <router-outlet></router-outlet>
</div>


<!-- <div class="wrapper">
  <router-outlet name="header"></router-outlet>
  <router-outlet name="sidebar"></router-outlet>
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <div class="wrapper">
  <header class="main-header" header-main></header>
  <aside class="main-sidebar" sidebar-main></aside>

  <div class="content-wrapper">
  </div>
</div> -->
