<form class="form-horizontal" (ngSubmit)="onSubmit(studentForm.value)" [formGroup]="studentForm">
  <div class="box-body">
    <div class="form-group">
      <label class="control-label col-sm-2" for="fullname">Nama Siswa</label>
      <div class="col-sm-10">
        <input type="text" formControlName="fullname" class="form-control" placeholder="Nama siswa" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="school_id">Sekolah</label>
      <div class="col-sm-10">
        <ng-select
          formControlName="school_id"
          [options]="schoolOptions | async"
          placeholder="Pilihan sekolah">
        </ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="classroom">Kelas</label>
      <div class="col-sm-10">
        <input type="text" formControlName="classroom" class="form-control" placeholder="Kelas" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="nisn">NISN</label>
      <div class="col-sm-10">
        <input type="text" formControlName="nisn" class="form-control" placeholder="NISN" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="birth_place">Tempat Lahir</label>
      <div class="col-sm-10">
        <input type="text" formControlName="birth_place" class="form-control" placeholder="Tempat lahir" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="birth_date">Tanggal Lahir</label>
      <div class="col-sm-10">
        <datetime
          formControlName="birth_date"
          [timepicker]="false"
          [datepicker]="datePickerOptions">
        </datetime>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="address">Alamat</label>
      <div class="col-sm-10">
        <textarea formControlName="address" class="form-control" placeholder="Alamat"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="parent">Orangtua/Wali</label>
      <div class="col-sm-10">
        <input type="text" formControlName="parent" class="form-control" placeholder="Orangtua/Wali" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sport_type_id">Cabang Olahraga</label>
      <div class="col-sm-10">
        <ng-select formControlName="sport_type_id" [options]="sportTypeOptions | async" placeholder="Pilihan cabang olahraga"></ng-select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="sport_club">Klub Olahraga</label>
      <div class="col-sm-10">
        <input type="text" formControlName="sport_club" class="form-control" placeholder="Klub olahraga" />
      </div>
    </div>
  </div>
  <div class="box-footer">
    <a [routerLink]="['/student-list']" class="btn btn-default btn-flat">Batal</a>
    <button type="submit" class="btn btn-primary btn-flat pull-right">Simpan</button>
  </div>
</form>
