<aside class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel" sidebar-user-panel></div>
    <!-- <form action="#" method="get" class="sidebar-form" sidebar-search></form> -->
    <ul class="sidebar-menu"sidebar-menu></ul>
  </section>
</aside>


