<div class="content-wrapper">
  <section class="content-header">
    <h1>Formulir Data Prestasi</h1>
  </section>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-header with-border">
            <h3 class="box-title">Silahkan masukan formulir di bawah ini</h3>
          </div>
          <achievement-form [data]="data | async" (onSave)="onSave($event)"></achievement-form>
        </div>
      </div>
    </div>
  </div>
</div>
